<% include partials/header.ejs %>

<div id="hero-image-single" style="background-image: url('/img/star_wars_episode_1_hero.jpg');">
	<h1 id="hero-title"><%= title %></h1>
</div>

<div class="content-padding clearfix">
	<div class="poster-wrapper">
		<img src="/img/star_wars_episode_1_poster.png" class="img-responsive">
	</div>
	
	<div class="description-wrapper">
		<div class="description">
			<h2 class="movie-header">
				Description
			</h2>
			
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.`</p>
			
		</div>
		
		<div class="main-characters">
			<h2 class="movie-header">Main Characters</h2>
			
			<ul>
				<li>Character Name</li>
				<li>Character Name</li>
				<li>Character Name</li>
			</ul>
			
		</div>
	</div>	
	
</div>

<% include partials/footer.ejs %>
